@charset "UTF-8";
div{
    height: 400px;
    width: 400px;

    border-width: 10px;
    border-style:double;
    border-color: rgb(134, 6, 6);
    border-radius: 10%;

    background-image: url(natureza.png);
    text-align: center;
    box-shadow: inset 6px 6px 23px 23px rgb(255, 0, 170);
    ;
    background-size:cover;
    
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding:10px;

    outline-width: 36px;
    outline-style:groove;
    outline-color: brown;

    margin: auto;
    margin-top: 100px;

}
h1{
    padding-top: 100px;
    color: aliceblue;
    font-family:cursive;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
}